.rating {
    display: flex;
    width: fit-content;
}

.rating li {
    list-style: none;
}

.container {
    margin-left: 450px;
}

.rating li:hover~li {
    color: black !important;
}

.rating:hover li {
    color: yellow !important;
}

.rt6 {
    display: list-item;
    width: 769px;
    height: 600px;
}